.footersubscribe{float:left;}
.footersubscribe .title{

        display: inline-block;
        text-transform: uppercase;
    color: #fff;
    line-height: 1;
    vertical-align: top;
    margin-right: 10px;
    font-size: 12px;
}
.footersubscribe .inp, .footersubscribe form {display: inline-block;}
.footersubscribe .inp input{
	width:100%;
	padding:2px !important;
        padding-top:3px !important;
}
.footersubscribe a.btn1{
         vertical-align: top;
	display:inline-block;
	text-align:center;
        background-color: #56c6db !important;
       border-radius:0px !important;
}
.subscribe-header a.btn1{
	display:inline-block;
	margin-top:6px;
	text-align:center;
        border-radius:0px;
        height:26px;
        line-height: 26px;
       font-size: 11px;
      vertical-align: middle;
      width: 83px;
     padding: 0px;
     margin: 0px;
     background: #999999 !important;
     border: 1px solid #ccc;
}
.subscribe-header  .inp{
     display:inline-block;
     padding:0px;
     line-height: 26px;
    font-size: 11px;
    vertical-align: middle;
    width: 106px;
}
.subscribe-header  .inp input{
       height:26px;
       box-shadow:none !important;
       font-size:11px !important;
}
.rekvizit {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    color: #fff;
    font-size: 13px;
    margin: 0 15px;
}
.footer .line2 .sitecopy .socseti {
    display: inline-block;
    vertical-align: top;
    margin-top: -8px;
}
.footer .line2 .sitecopy .socseti a{width:40px;height:40px; margin-right:5px;}
.tell-footer {
    display: inline-block;
    color: #fff;
    font-size: 28px;
    margin-top: -8px;
}
.socseti .vk-foot {
    background: url('/bitrix/templates/profood/img/vk-foot.png') center center no-repeat;
}
.socseti .fb-foot {
    background: url('/bitrix/templates/profood/img/fb-foot.png') center center no-repeat;
}
.socseti .inst-foot {
    background: url('/bitrix/templates/profood/img/inst-foot.png') center center no-repeat;
}
.socseti .tw-foot {
    background: url('/bitrix/templates/profood/img/tw-foot.png') center center no-repeat;
}
.btn-zhaloba a{
    display: inline-block;
    background: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    color: #fff;
    margin-left:5px;
}
.footer .line2 .centeringin {
    margin: 10px 0px;
}
.subscribe-header .footersubscribe .title{
     display:block;
     color:inherit;
     text-transform: inherit;
     font-size:inherit;
     line-height:inherit;
}