.catalog .catalogmenu{
    border-top: 1px solid #E5E5E5;

}
.catalog .catalogmenu li{
    border-bottom: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
}
.catalog .prods .sectinfo{
    width:100%;
    padding-bottom:20px;
    padding-top:20px;
    border-top:1px solid #E5E5E5;
}
.catalog .prods .sectinfo .img,
.catalog .prods .sectinfo .description{
    float:left;
}
.catalog .prods .sectinfo .img{
    max-width:20%;
    padding:0px 15px 15px 15px;
}
.catalog .prods .sectinfo .description.no_img_descr {
    width:100%;
    padding: 0px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.catalog .prods .sectinfo .description{
    width:80%;
}

.menu-sidebar {
    border-top: 1px solid #e5e5e5;
}
.menu-sidebar li ul {
    display: none;
}
.menu-sidebar li.first {
    border-bottom: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
}
.menu-sidebar li a {
    display: block;
    padding: 9px 12px;
    position: relative;
    text-decoration: none;
}

h1.pagetitle {
    display: none !important;
}
.catalog {
}
.catalog h1 {
    font-size: 34px;
    margin-bottom: 23px;
}
.catalog .sectinfo {
    margin-bottom: 17px;
}
.catalog .description {
    font-size: 14px;
    line-height: 1.75;
    max-height: 73px;
    overflow: hidden;
    position: relative;
    margin-bottom: 29px;
    transition: .2s;
}
.catalog .description:after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 50px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    transition: .2s;
}
.catalog .description.opened {
    max-height: inherit;
}
.catalog .description.opened:after {
    opacity: 0;
}

.catalog .show-more {
    border-top: 1px solid #CECECE;
    position: relative;
    margin-bottom: 17px;
}
.catalog .show-more .t {
    color: #CECECE;
    position: absolute;
    left: 50%;
    box-sizing: border-box;
    top: -13px;
    background: #fff;
    width: 115px;
    text-align: center;
    margin-left: -57px;
    height: 20px;
    cursor: pointer;
    transition: .2s;
}
.catalog .show-more .t:hover {
    color: #717171;
}
.catalog .show-more .t:before {
    content: '>';
    font-family: monospace;
    transform: rotate(90deg);
    display: block;
    position: absolute;
    border: 1px solid;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    box-sizing: border-box;
    line-height: 19px;
    text-align: center;
    font-size: 17px;
    left: 4px;
}
.catalog .show-more .t.opened:before {
    transform: rotate(-90deg);
}
.catalog .show-more .t:after {
    content: 'Развернуть';
    display: inline-block;
    position: absolute;
    left: 33px;
    top: 2px;
}
.catalog .show-more .t.opened:after {
    content: 'Свернуть';
}

.catalog .share-friends {
    font-size: 10px;
}
.catalog .share-friends ul { 
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0 0 0 2px;
}
.catalog .share-friends ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1px;
}

@media screen and (max-width:605px){
    body.adaptive .catalog .prods .sectinfo{
        display:none;
    }
}