.sidebar {
    width: 230px;
}
.sidebar .menu-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 6px;
    border-bottom: 5px solid #CDCDCD;
    padding-bottom: 16px;
}
.sidebar .menu-wr {
    margin-bottom: 40px;
}
.sidebar .menu a {
    line-height: 37px;
    padding-left: 13px;
    border-bottom: 1px solid #E5E5E5;
    display: block;
    text-decoration: none;
    color: #000;
    padding-left: 17px;
    transition: .2s;
    position: relative;
}
.sidebar .menu a:hover {
    background: #eee;
}
.sidebar .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar .menu > ul .menu-name {
    text-transform: uppercase;
    color: #454545;
    font-weight: bold;
    padding-left: 6px;
    line-height: 42px;
    cursor: pointer;
    box-sizing: border-box;
    height: 42px;
}
.sidebar .menu > ul .has-sub .menu-name:after,
.sidebar .menu > ul .has-sub .submenu-name:after{
    content: '>';
    font-family: monospace;
    display: block;
    right: 5px;
    position: Absolute;
    transform: rotate(90deg);
    font-size: 17px;
    font-weight: bold;
    top: 16px;
    width: 8px;
    line-height: 9px;
    transition: .2s;
}
.sidebar .menu > ul .menu-name:hover {
    background: #00A6CF;
    color: #fff;
}
.sidebar .menu > ul .submenu-name {
    line-height: 35px;
    font-weight: bold;
    padding-left: 13px;
}
.sidebar .menu > ul > li.open .menu-name{ 
    background: #00A6CF;
    color: #fff;
}
.sidebar .menu > ul > li.open .menu-name:after,
.sidebar .menu > ul .submenu .has-sub.open .submenu-name:after {
    transform: rotate(-90deg);
    right: 7px;
}
.sidebar .menu > ul  ul{
    display: none;
}