.footer .footmenu{
	margin-bottom:15px;
}
.footer .footmenu .title{
	margin-bottom:6px;
	text-transform:uppercase;
        color: #fff;
}
.footer .footmenu .item{
	margin:3px 0;
}
.footer .footmenu a{
	color:#fff;
	text-decoration:none;
}
.footer .footmenu a:hover{
	text-decoration:underline;
}