.detail-menu{
    width:25%;
    float:left;
    box-sizing:border-box;
}
.detail-content{
    width:75%;
    float:left;
    box-sizing:border-box;
}
.catalog{
    width:100%;
}
.catalog .sidebar{
    width:250px;
    float:left;
}
.catalog .sidebar ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 0;
    margin-bottom: 0px;
}
.catalog .sidebar ul > li {
    list-style-type: none;
}
.catalog .prods{
    margin-left:250px;
}
.catalog .prods .borlef{
    border-left:1px solid #F2F2F2;
}
.catalog .prods .mix{
    padding-bottom:12px;
}
.catalog .prods .sectinfo,
.catalog .prods .mix,
.catalog .prods .ajaxpages_gmci{
    width:100%;
    float:left;
}
.catalog .prods .sectinfo{
    border-top:1px solid #E5E5E5;
}
.catalog .prods .sectinfo .description{
    font-family:Opensanslight,Arial,Helvetica,sans-serif;
    color:#484848;
}
.catalog .prods .compareandpaginator{
    padding:12px 0px;
    border-top:1px solid #E5E5E5;
}
.catalog .prods .compareandpaginator .compare{
    float:left;
    padding-left:17px;
}
.catalog .prods .mix .catalogsorter{
    padding-top:12px;
    border-top:1px solid #E5E5E5;
}
.catalog .errortext {
    margin-left: 15px;
}

@media screen and (max-width:775px){
    body.adaptive .catalog .compare{
        width:100%;
        float:none;
    }
}
@media screen and (max-width:605px){
    body.adaptive .catalog .sidebar,
    body.adaptive .catalog .prods{
        width:100%;
        margin-left:0px;
    }
    body.adaptive .catalog .prods .sectinfo,
    body.adaptive .catalog .prods .mix{
        border-left:none;
    }
    body.adaptive .catalog .prods .mix .compareandpaginator{
        display:none;
    }
    body.adaptive .catalog .prods .compareandpaginator .compare{
        padding-left:0px;
    }
}



.filter-block {
    background: #00A6CF;
    padding: 14px;
    box-sizing: border-box;
    height: 89px;
    margin-bottom: 29px;
}
.filter-block .selects {
    display: inline-block;
    vertical-align: top;
    width: 427px;
}
.filter-block .selects select {
    border: 1px solid #F2F2F2;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15) inset,0 1px 0 0 rgba(255, 255, 255, 0.35);
    padding: 2px;
    width: 136px;
    margin: 0 4px 9px 0;
}
.filter-block .actions-wr {
    display: inline-block;
    vertical-align: top;
}
.filter-block .actions-wr .btn {
    display: inline-block;
    text-decoration: none;
    width: 141px;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
}
.filter-block .actions-wr .filter {
    background: #00C7DD;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.24);
    margin-right: 6px;
}
.filter-block .actions-wr .reset {
    display: inline-block;
    background: #fff;
    line-height: 30px;
    color: #00A6CF;
}
.filter-block .actions-wr .summary {
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 9px;
}

.sorter-block {
    position: relative;
    height: 50px;
}

.sorter-block #paginator {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.sorter-block #paginator .navigation {
    padding: 0;
    float: none;
}
.sorter-block #paginator .navigation span,
.sorter-block #paginator .navigation a {
    border: 1px solid #CDCDCD;
    display: inline-block;
    background: #F8F5F5;
    color: #A9A9A9;
    text-decoration: none;
    line-height: 24px;
    min-width: 25px;
    text-align: center;
    padding: 0;
    position: relative;
    margin-left: -1px;
}
.sorter-block #paginator .arrow {
    display: none !important;
}