
.mobile_menu {display:none;}
.tpanel_menu{
	height:40px;
}
.tpanel_menu a{
    position: relative;
}
.tpanel_menu a{
        position:relative;
	font-family:Opensanslight,Arial,Helvetica,sans-serif;
	display:block;
	float:left;
        line-height:39px;
        padding-right:10px;
	margin-right:10px;
        color:#fff;
        border-right:1px solid #249bb9;
        text-transform:uppercase;
        font-size:12px;
}
.tpanel_menu a:before{
   position: absolute; 
   display:block;
    content: '';
    border-right: 1px solid #017c9a;
    height: 100%; width: 100%;
    box-sizing: border-box; 
   -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
}
.tpanel_menu a:last-child {
    border-right: 0px !important;
}
.tpanel_menu a:last-child:before{
  border-right: 0px !important; }

.header_menu_inner {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    top: 39px;
    left: -11px;
    min-width: 200px;
    background: #ffffff;
    padding: 5px 10px;
    z-index: 50;
}
.tpanel_menu a:hover .header_menu_inner {
    visibility: visible;
    opacity: 1;
     transition: visibility 0s, opacity 0.5s linear;
}
.header_menu_inner a{
    margin:0px;
    padding:0px;
    color:#808080;
    font-weight: bold;
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc !important;
}

.header_menu_inner object:last-child a{border:none !important;}

.header_menu_inner a:hover{text-decoration:none;color:#EE8131;}
@media screen and (max-width:1100px){
.tpanel {
    height: auto !important;
    padding-top:40px;
}
.tpanel_menu {
    height: auto !important;
    display:none;
}
.tpanel_menu>a{
    float:none;
    border-right:none;
    border-bottom: 1px solid #249bb9;
    padding-left: 50%;
    margin-left: -50px;
    margin-right: 0px;
    box-sizing:border-box;
}

.tpanel_menu>a:before{
	border-bottom: 1px solid #017c9a;
        left: 0;
        border-right:none;
}
.mobile_menu {
    margin-top:-40px;
    display:block;
    width: 50px;
    height: 40px;
    float: right;
    background: url('/bitrix/templates/profood/img/swipe.png') center center no-repeat;
    cursor:pointer;
}
.header_menu_inner {left:auto;}
}
