.location{
	display:block;
}
.header  .column1inner .location .icon{
	width:14px;
	height:8px;
	margin-left:8px;
	margin-bottom:1px;
	background-position:0px 0px !important;
}
.icon-location{background:url('/bitrix/templates/profood/img/icon-region.png') no-repeat;}

@media screen and (max-width:480px){
	
}