/*main cart page styles */

/*top links*/
.basket_head_links {
	display: inline-block;
	margin: 10px;
	margin-bottom: 40px;
	float:right;
}
.basket_head_links a {
    color: #CCC;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px;
    text-decoration: none;
	font-size: 15px;
}
.basket_head_links a:hover, .basket_head_links a.active {
    color: #00A4CC;
	text-decoration:none;
}

/* product list */
.basket table.items tr td {
    border-bottom: 1px solid #999!important;
}
.basket table.items td.checkbox, .items td:first-child {
    border-left: 1px solid #999;
	min-width:10px;
}
.basket table.items td {
	padding: 15px;
    min-width: 40px;
}

.items th, .items td {
    border-right: 2px groove #FCFCFC !important;
	text-align: center;
	font-size: 14px;
}
.items td.product_name a, .print_order_list a {
	color: #00A4CC;
	text-decoration: underline;
}
 .print_order_list {
	font-weight: bold;
}
.print_order_list img {
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.items a.minus, .items a.plus {
    display: inline-block;
    background: #CCC;
    width: 18px;
    height: 18px;
    color: #FFF;
    font-weight: bold;
	cursor: pointer;
}
.items a.minus:hover, .items a.plus:hover {
	text-decoration: none;
}
.items input.js-quantity {
	width: 35px;
    height: 28px;
    text-align: center;
    font-weight: bold;
}
.items td.tc .lppadding {
    font-weight: bold;
    font-size: 13px;
    color: #666;
}
.items th.xxx {
	background: #00A4CC;
	color: #FFF;
}
.totaltext .name {
	font-weight: bold;
	text-transform: uppercase;
}
.totaltext .take_allSum_FORMATED {
	color: #00A4CC;
}
.btns.clearfix .btn.btn1, .btns.clearfix .btn.btn3 {
    background: #00A4CC!important;
    color: #FFF!important;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 5px;
    border-radius: 1px;
    text-shadow: -1px 1px 15px #CCC;
}
.btns.clearfix .btn.btn1.fast {
	background: #BCBCBC!important
}
.pcontent hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
#order_form_div {
	clear: both;
	max-width: none;
}
.bx_order_make .checkboxes {
	margin: 40px;
}
.bx_order_make .checkbox {
	display: inline-block;
    width: 170px;
}
.bx_order_make .checkbox:first-child {
	float: left;
	margin-right: 20%;
}
.bx_order_make .checkbox label {
	text-transform: uppercase;
	font-weight: bold;
	font-family: arial;
}

table#seller_info {
	margin: 35px 0;
}
table#seller_info tr td {
	padding: 5px;
}
.input label {
    color: #888;
	font-size: 12px;
	display: block;
}
.input input, .input textarea {
	width: 245px !important;
    border: 1px solid #BBB !important;
	background: #F9F9F9;
}
.input textarea {
	height: 110px;
}
.input.small {
	float: left;
}
.input.small input {
    width: 110px !important;
    display: inline-block;
}
.input.small:last-child {
	float: right;
}
.input.required label{
	color:  #00A4CC;
}

.pcontent .basket .btns input.btn.btn1 {
    float: right;
}

.pcontent .btns input.fast, .pcontent .btns input.confirm {
    float: right;
    margin-bottom: 15px;
    padding: 11px 26px;
}
.bx_order_make div.checkbox.offer {
	width: 70%;
}
.bx_order_make div.checkbox.offer label {
	font-family: arial;
    font-weight: normal;
    text-transform: none;
    font-size: 11px;
    color: #999;
}
.bx_order_make div.checkbox.offer label a {
	color: #00A4CC
}
.dates {
    margin: 15px;
    text-align: center;
}
.dates .date {
    display: inline-block;
    margin: 0 5px;
}
.dates .date > input {
    width: 130px !important;
}
