.presscentermainn{
	width:100%;
	margin-top:42px;
}
.presscentermainn .title{
	padding:0px 17px 5px 17px;
	color:#959595 !important;
	font-size:14px;
	text-transform:uppercase;
        text-align: center;
        border-bottom: 2px solid #ccc;
        margin-bottom: 33px;
}
.presscentermainn .in{
	width:100%;
}
.presscentermainn .item{
	width:25%;
	float:left;
	padding: 0px;
       border-right: 2px solid #fff;
}
.presscentermainn .item img{
	width:100%;
}
.presscentermainn .item .img{
	position:relative;
}
.presscentermainn .item .data{
   position: absolute;
    height:105px;
    bottom: 0;
    z-index: 10;
    color: #fff;
    background: rgba(17, 171, 205, 0.77);
    padding:15px 20px;
}
.presscentermainn .item a {
    display: block;
    width: 100%;
   color:#fff;
}

.presscentermainn .item a.blockname{
	color:#ee8131;
}

@media screen and (max-width:1010px){
	body.adaptive .presscentermainn{
		width:100%;
	}
	body.adaptive .presscentermainn .item{
		width:25%;
		padding-bottom:13px;
	}
}
@media screen and (max-width:750px){
	body.adaptive .presscentermainn .item{
		width:50%;
	}
         .presscentermainn .in{
	width:80%;
        margin:0 auto;
        }
}
@media screen and (max-width:480px){
       .presscentermainn .in{
	width:70%;
        margin:0 auto;
        }
	body.adaptive .presscentermainn .item{
		display:table;
		width:100%;
	}
	body.adaptive .presscentermainn .item .img{
		
	}
	body.adaptive .presscentermainn .item .img img{
		display:block;
	}
	body.adaptive .presscentermainn .item .data{
		display:table-cell;
		vertical-align:middle;
	}
}