.presscentermainn{
	width:100%;
	margin-top:38px;
}
.presscentermainn .title{
	padding:0px 17px 5px 17px;
	color:#959595 !important;
	font-size:14px;
	text-transform:uppercase;
        text-align: center;
        border-bottom: 2px solid #ccc;
        margin-bottom: 33px;
}
.presscentermainn .in{
	width:100%;
}
.presscentermainn .sets-item{
	width:25%;
	float:left;
	padding: 0px;
     box-sizing: border-box;
}
.presscentermainn .sets-item img{
    margin: 0 auto;
    display: block;    
}
.presscentermainn .sets-item .img{
    margin: 0 auto;
    display: block;    
}
.presscentermainn .sets-item .data{

  
}
.presscentermainn .sets-item .data .name{
    display:block;
    height:36px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    color: #333333;
    max-width: 110px;
}
.presscentermainn .sets-item .complect{text-align: center;
    font-size: 11px;
    line-height: 16px;
    color: #00a0c7;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 10px;
}
.presscentermainn .sets-item .sets-price {
    font-size: 30px;
    color: #00a0c7;
    padding: 15px;
    text-align: center;
}

.presscentermainn .sets-item .sets-buy {
    background: #00a0c7 !important;
    color:#fff !important;
    text-transform:uppercase;
    padding: 10px;
    margin: 10px auto;
    display: block;
    max-width: 100px;
    text-align: center;
}

.presscentermainn .item a {
    display: block;
    width: 100%;
   color:#fff;
}

.presscentermainn .item a.blockname{
	color:#ee8131;
}

@media screen and (max-width:1010px){
	body.adaptive .presscentermainn{
		width:100%;
	}
	body.adaptive .presscentermainn .item{
		width:25%;
		padding-bottom:13px;
	}
}
@media screen and (max-width:750px){
	body.adaptive .presscentermainn .item{
		width:50%;
	}
}
@media screen and (max-width:480px){
	body.adaptive .presscentermainn .item{
		display:table;
		width:100%;
	}
	body.adaptive .presscentermainn .item .img{
		display:table-cell;
		width:90px;
		max-width:90px;
		vertical-align:middle;
	}
	body.adaptive .presscentermainn .item .img img{
		display:block;
	}
	body.adaptive .presscentermainn .item .data{
		display:table-cell;
		vertical-align:middle;
	}
}