.basketinhead{
	text-align:left;
        padding:12px 5px;
        width: 130px;
}
.basketinhead a,
.basketinhead a:hover{
	display:block;
	color:#000;
	text-decoration:none;
}
.basketinhead a .title{
	font-size:14px;
        color:#fff;
        padding-left: 10px;
}
.basketinhead a:hover .title{
	text-decoration:underline;
}
.basketinhead .icon{
	display:block;
	float:right;
	width:37px;
	height:33px;
	margin-top:0px;
background: url("/bitrix/templates/profood/img/icon-basket.png") no-repeat;
}
.basketinhead .icon .basket {
background:url("/bitrix/templates/profood/img/icon-basket.png") no-repeat;
}

.basketinhead .descr{
	color:#fff;
	white-space:nowrap;
	overflow:inherit;
	text-overflow:ellipsis;
}
.basketinhead .descr .col-tov {
   float: right;
    margin-top: -20px;
    background: url("/bitrix/templates/profood/img/icon-basket.png") no-repeat;
    width: 30px;
    height: 36px;
    line-height: 36px;
    vertical-align: bottom;
    text-align: center;
    font-size: 16px;
    padding-top: 3px;
    font-weight: bold;
}
.basketinhead .descr  .amount {
    font-size: 16px;
    font-weight: bold;
}
.basketinhead .title,
.basketinhead .descr{
}
#basketinfo {padding-left: 10px;}