.authinhead{
	display:inline-block;
	text-align:left;
        padding:12px 10px;
}
.authinhead .logged .icon{
	width:10px;
	height:12px;
	margin-right:3px;
	margin-bottom:3px;
	background-position:0px -12px;
}
.authinhead .guest .icon{
	width:14px;
	height:9px;
	margin-right:5px;
	margin-left:15px;
	margin-bottom:2px;
	background-position:0px -24px;
}
.authinhead a{ color:#fff;}

@media screen and (max-width: 480px){
	body.adaptive .authinhead{
		display:block;
		float:right;
	}
}