.breadcrumb{
    padding: 7px 0px 12px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 25px;
}
.breadcrumb li {
    display:inline;
    font-size: 10px;
    color: #666666;
}
.breadcrumb li:not(:last-child):after {
    content: '>';
    font-family: monospace;
    font-size: 23px;
    vertical-align: middle;
    color: #00BDDB;
    margin-right: 3px;
    position: relative;
    top: -2px;
}
.breadcrumb a {
    text-decoration: none;
    margin-right: 3px;
    color: #666666;
}
.breadcrumb a:hover{
    text-decoration:none;
}
.breadcrumb li.last a{
    color:#000;
    text-decoration:none;
}